body {
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}
.top-bar {
  width: 103%;
  height: 8.5rem;
  background-color: #470063;
  border-radius: 5rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  z-index: -2;
  position: absolute;
  margin-left: -1.5rem;
  margin-top: -2rem;
}
.logo {
  margin-left: 1.5rem;
  margin-top: 1.5rem;
}
.zarovnanitlacitek {
  text-align: right;
  z-index: -1;
  padding-top: 2rem;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  gap: 3rem;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ff0066;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #f5f5f5;
  gap: 1rem;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #f5f5f5;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #ff0066;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ff0066;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #f5f5f5;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #f5f5f5;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #ff0066;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
.en {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.en:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #fc7a1e;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.en span {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #f5f5f5;
}

.en svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #f5f5f5;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.en:hover:before {
  width: 100%;
  background: #fc7a1e;
}

.en:hover svg {
  transform: translateX(0);
}

.en:active {
  transform: scale(0.95);
}
label {
  display: block;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  font-family: "Montserrat", sans-serif;
  color: #ff0066;
  font-size: 64/1.681px;
  font-weight: 600;
}
body input {
  border-color: #fc7a1e;
  border-radius: 50px;
  width: 400px;
  padding: 1rem;
}

textarea {
  padding-bottom: 4rem;
  border-color: #fc7a1e;
  border-radius: 50px;
  width: 400px;
  height: 130px;
  text-align: left;
  padding: 2rem;
  padding-left: 1rem;
}
h1 {
  font-size: 64px;
  color: #ff0066;
  font-weight: 900px;
  position: absolute;
  z-index: 0;
  margin-top: 23rem;
  padding-bottom: 10rem;
}
input {
  display: inline-block;
}
.odeslat {
  border-radius: 50px;
  background-color: #ff0066;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  border-width: 0ch;
  width: 120px;
  color: #f5f5f5;
  position: absolute;
  z-index: 0;
  margin-top: 1rem;
}
.odeslat :hover {
  font-size: xx-large;
  width: 150px;
}

.brand img {
  position: absolute;
  padding-top: 40rem;
  padding-left: 110vh;

  z-index: -2;
}
.formular {
  position: absolute;
  z-index: 0;
  margin-top: 28rem;
  margin-left: 1rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 100;
  color: #470063;
  position: absolute;
  z-index: 0;
  margin-top: 4rem;
}

#site :hover {
}
.site img {
  display: flex;
  gap: 2rem;
  position: absolute;
  z-index: 0;
  margin-top: 18.5rem;
  margin-left: ;
  margin-right: 4rem;
  width: 2rem;
}
