:root {
  background-color: #f5f5f5;
  font-family: "Montserrat", sans-serif;
}

.top-bar {
  width: 101%;
  height: 8.5rem;
  background-color: #470063;
  border-bottom-left-radius: 5rem;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
  z-index: -2;
  position: absolute;
  margin-top: -2rem;
  margin-left: -1rem;
}
.logo {
  position: absolute;
  z-index: +7;
  top: 0px;
}
.zarovnanitlacitek {
  text-align: right;
  z-index: -1;
  padding-top: 2rem;
}

.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
  gap: 3rem;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ff0066;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #f5f5f5;
  gap: 1rem;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #f5f5f5;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #ff0066;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #ff0066;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #f5f5f5;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #f5f5f5;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.cta:hover:before {
  width: 100%;
  background: #ff0066;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
}
.en {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.en:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #fc7a1e;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.en span {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #f5f5f5;
}

.en svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #f5f5f5;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

.en:hover:before {
  width: 100%;
  background: #fc7a1e;
}

.en:hover svg {
  transform: translateX(0);
}

.en:active {
  transform: scale(0.95);
}
.CV {
  border-radius: 50px;
  background-color: #ff0066;
  font-family: "Montserrat", sans-serif;
  font-size: x-large;
  border-width: 0ch;
  width: 120px;
  color: #f5f5f5;
  position: absolute;
  z-index: 0;
  margin-top: 3rem;
  margin-left: 2rem;
}
.CV:hover {
  font-size: xx-large;
  width: 150px;
}
